body {
  background-color: lightgrey; }

h1 {
  color: red; }

p {
  color: green; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzIjpbIm1haW4uc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyJib2R5IHtcblx0YmFja2dyb3VuZC1jb2xvcjogbGlnaHRncmV5O1xufVxuXG5oMSB7XG5cdGNvbG9yOiByZWQ7XG59XG5cbnAge1xuXHRjb2xvcjogZ3JlZW47XG5cbn0iXSwibWFwcGluZ3MiOiJBQUFBLEFBQUEsSUFBSSxDQUFDO0VBQ0osZ0JBQWdCLEVBQUUsU0FBVSxHQUM1Qjs7QUFFRCxBQUFBLEVBQUUsQ0FBQztFQUNGLEtBQUssRUFBRSxHQUFJLEdBQ1g7O0FBRUQsQUFBQSxDQUFDLENBQUM7RUFDRCxLQUFLLEVBQUUsS0FBTSxHQUViIiwibmFtZXMiOltdfQ== */
